fastapi==0.141.1
joblib==1.5.3
MAPIE==1.5.0
matplotlib==3.11.1
medmnist==3.0.2
numpy==2.5.2
optuna==4.9.0
pandas==3.0.5
pennylane==0.45.1
PennyLane-qiskit==0.45.0
python-dotenv==1.2.3
python-multipart==0.0.32
qiskit==2.3.0
qiskit-ibm-runtime==0.45.1
scikit-learn==1.9.0
shap==0.52.0
torch==2.13.0
uvicorn==0.52.4
